.Signin-Conatainer {
  display: flex;
  margin-top: 5%;
  flex-direction: column;
  align-items: center;
}

.Avatar {
  display: inline;
  color: white;
  margin: 1%;
  background-color: rgb(211, 98, 98);
  border-radius: 100%;
  padding: 7px 10px;
}

.Signin-Form-Container {
  width: 25%;
}

.Signin-Form-Container form {
  margin-top: 3%;
  width: 100%;
}

.Signin-Email div,
.Signin-Password div,
.Signin-Button button {
  width: 100%;
}

.Signin-Button {
  margin-bottom: 20px;
  margin-top: 20px;
}

.Signin-Forget:hover {
  cursor: pointer;
  text-decoration: underline;
}
